<li>
    <div class="uk-grid">
        <div class="uk-panel uk-width-9-10 uk-margin-top">
												<span class="project-title uk-text-middle uk-align-left uk-margin-remove">
													<div class="uk-form">
														<div class="uk-form-row">
															<span id="title"></span>
														</div>
														<div class="uk-form-row">
															<span style="font-size: 16px!important; color: #c4c4c4 !important;" id="updatedAt">a while ago</span>
														</div>
													</div>
												</span>
            <!--<span class="project-content uk-align-right uk-text-middle uk-margin-remove">5 seconds ago</span>-->
            <span class="project-content uk-align-right uk-text-middle uk-margin-remove">
													<div id="toggle-switch">
														<!--<div class="switch switch-yellow" id="switch">-->
														<!--<input type="radio" class="switch-input" name="view" value="published" id="published" checked>-->
														<!--<label for="published" class="switch-label switch-label-off">Published</label>-->
														<!--<input type="radio" class="switch-input" name="view" value="draft" id="draft">-->
														<!--<label for="draft" class="switch-label switch-label-on">Draft</label>-->
														<!--<span class="switch-selection"></span>-->
													</div>
												</span>
            <span>
												</span>
        </div>
        <div class="uk-width-1-10 uk-padding-remove uk-margin-top" id="delete-button"><img src="img/x.png" class=" uk-align-right uk-margin-remove delete" onmouseover="this.src='img/x2.png'" onmouseout="this.src='img/x.png'"></div>
    </div>
</li>