<li>
    <div class="uk-grid">
        <div class="uk-panel uk-width-9-10 uk-margin-top">
            <span>
                <div class="uk-width-1-1" id="up">
                    <img src="img/up.png" class=" uk-align-left uk-margin-remove updown" onmouseover="this.src='img/up2.png'" onmouseout="this.src='img/up.png'">
                </div>
                <div class="uk-width-1-1" id="down">
                    <img src="img/down.png" class=" uk-align-left uk-margin-remove updown" onmouseover="this.src='img/down2.png'" onmouseout="this.src='img/down.png'">
                </div>
            </span>
            <span class="project-title uk-text-middle uk-align-left uk-margin-remove"><input class="transparent-input" placeholder="Enter name" id="name"></span>
            <span class="uk-align-right uk-text-middle uk-margin-remove">
			    <select id="ref" class="uk-hidden">
				</select>
			</span>
            <span class="uk-align-right uk-text-middle uk-margin-remove">
			    <select id="type">
				</select>
			</span>
        </div>
        <div class="uk-width-1-10 uk-padding-remove uk-margin-top" id="delete"><img src="img/x.png" class=" uk-align-right uk-margin-remove delete" onmouseover="this.src='img/x2.png'" onmouseout="this.src='img/x.png'"></div>
    </div>
</li>