<div class="navigation" role="navigation" data-uk-sticky="" data-field="navbar">
    <div class="uk-container uk-container-center">
        <div class="uk-align-left uk-margin-remove">
            <h2 class="graffiti-logo-nav">CMS</h2>
        </div>
        <div class="uk-align-left uk-margin-remove">
            <span class="uk-vertical-align" id="home">Dashboard</span>
        </div>
        <div class="uk-align-right uk-margin-remove">
            <span class="uk-vertical-align" id="logout">Logout your@email.com</span>
        </div>
    </div>
</div>