<li>
    <div class="uk-grid">
        <div class="uk-panel uk-width-9-10 uk-margin-top">
            <span class="project-title uk-text-middle uk-align-left uk-margin-remove" id="name"></span>
            <span class="project-content uk-align-right uk-text-middle uk-margin-remove"></span>
        </div>
        <div class="uk-width-1-10 uk-padding-remove uk-margin-top "><img src="img/x.png" class=" uk-align-right uk-margin-remove delete" onmouseover="this.src='img/x2.png'" onmouseout="this.src='img/x.png'" data-uk-modal="{target:'#delete'}" id="delete"></div>
    </div>

</li>