<div class="uk-grid" field-type="MEDIA">
    <h2 class="uk-width-1-4" id="name"></h2>
    <div class="uk-width-3-4 uk-padding-remove">
        <div class="uk-margin-bottom">
            <span>Choose an optional file attachment for this content. Only files less than 100kb size</span>
        </div>
        <button id="choose-button" data-field="choose">&nbsp;Choose</button>
        <div class="uk-margin-top">
            <span><a class="text-normal uk-text-center uk-margin-bottom" id="file-name"></a></span>
        </div>
    </div>
    <!--div class="upload-wrapper uk-container-center uk-margin-xlarge-bottom uk-margin-top uk-hidden" id="preview">
        <img src="img/upload.png" alt="" class="uk-align-center uk-margin-top">
        <a class="text-normal uk-text-center uk-margin-bottom" id="file-name">upload media</a>
    </div-->
</div>