<div class="uk-modal" style="" role="delete-modal">
    <div class="uk-modal-dialog no-rounded-corners delete-bg">
        <div class="uk-float-right">
            <span class="close uk-modal-close"><img src="img/x.png" class="close-button" id="close"></span>
        </div><br><br>
        <div class="uk-panel">
            <div class="uk-width-1-1 uk-margin-large-bottom">
                <h1 class="question" >Are you sure you want to <span class="del-red">delete <span id="name"></span></span></h1>
            </div>
            <div class="uk-width-1-1 ">
                <button class=" uk-align-right" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>