<diV data-field="content">
    <div class="navigation" role="navigation" data-uk-sticky="" data-field="navbar">
        <div class="uk-container uk-container-center">
            <div class="uk-align-left uk-margin-remove">
                <h2 class="graffiti-logo-nav">Graffiti</h2>
            </div>
            <div class="uk-align-left uk-margin-remove">
                <span class="uk-vertical-align">Dashboard</span>
            </div>
            <div class="uk-align-right uk-margin-remove">
                <span class="uk-vertical-align">Logout your@email.com</span>
            </div>
        </div>
    </div>
    <div class="uk-width-1-1 uk-panel uk-margin-large-top" role="project">
        <div class="uk-panel uk-container uk-container-center">
            <div class="uk-panel new-project uk-width-1-1 "><h1 class=" uk-align-left uk-margin-bottom">New Content Type</h1></div>
            <div class="uk-panel uk-margin">
                <div class="uk-width-2-3 uk-margin-bottom">
                    <div class="uk-width-5-6">
                        <div class="uk-panel">
                            <div class="uk-grid  ">
                                <h2 class="uk-width-1-3	">Name</h2>
                                <input type="text" class="uk-text-small uk-width-2-3" placeholder="e.g. Page, Post or Author" id="name">
                            </div>
                            <div class="uk-grid">
                                <h2 class="uk-width-1-3	">Description</h2>
                                <textarea type="text" class="uk-text-small uk-width-2-3" id="description" placeholder="Enter description for this type"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <button class="uk-align-right" data-field="save">&nbsp;Create</button>
                <button class="uk-align-right grey-button" data-field="cancel"><i></i>&nbsp;Cancel</button>
            </div>
        </div>
        <div class="uk-width-1-1">
        </div>
    </div>
</diV>
