<div id="content" class="uk-width-1-1 uk-panel uk-height-viewport uk-responsive-height login ng-scope" role="login">
    <div class="navigation" role="navigation" data-uk-sticky="" data-field="navbar">
        <div class="uk-container uk-container-center">
            <div class="uk-align-left uk-margin-remove">
                <h2 class="graffiti-logo-nav">CMS</h2>
            </div>
        </div>
    </div>

    <!--Content-->
    <div class="uk-width-1-1 uk-panel login-content">
        <div class="login-form uk-container-center">
            <h1 class="uk-text-center uk-text-bold">Login</h1>
            <div class="uk-width-1-1 uk-form uk-margin-large-top">
                <div class=" uk-width-1-1 uk-margin-bottom">
                    <h3>Username</h3>
                    <input id="username" class="uk-width-1-1"type="text" style="background-color: #ffffff!important; padding: 5px !important;  color: #000!important;  font-family: Montserrat, sans-serif!important;  font-size:22px!important;  border:  #e3e3e2 0px solid !important; height: 50px;">
                </div>
                <div class=" uk-width-1-1">
                    <h3>Password</h3>
                    <input id="password" class="uk-width-1-1"type="password" style="background-color: #ffffff!important; padding: 5px !important;  color: #000!important;  font-family: Montserrat, sans-serif!important;  font-size:22px!important;  border:  #e3e3e2 0px solid !important; height: 50px; ">
                </div>
                <div class="uk-grid uk-grid-collapse uk-grid-width-1-2 login-menu">
                    <div style="color: #444444!important">
                        <span class="text toggle"><i class="fa fa-check"></i> Remember me</span>
                    </div>
                    <div>
                    </div>
                </div>
                <div class=" uk-width-1-1 uk-margin-large-top">
                    <button id="login-button" class="uk-align-right"><i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;Login</button>
                    <div style="position: relative; top: 15px;">
                        <a id="forgot" class="uk-align-right forgot" data-uk-modal="{target:'#forgotPassword'}" style="color: #444444!important">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <div id="footer" class="uk-width-1-1 uk-panel uk-position-bottom">
        <!--<h4 class="uk-text-center">© 2017 &nbsp;Dotweblabs Web Technologies</h4>-->
        <div class="uk-align-center">
            <h4 class="uk-text-center"><i>made with </i>&nbsp;<i class="fa fa-heart" style="color: #e27a7a"></i>&nbsp; <i>by divroll team</i> </h4>
        </div>
    </div>
</div>