<div data-field="content">
    <div class="navigation" role="navigation" data-uk-sticky="" data-field="navbar">
        <div class="uk-container uk-container-center">
            <div class="uk-align-left uk-margin-remove">
                <h2 class="graffiti-logo-nav">CMS</h2>
            </div>
            <div class="uk-align-left uk-margin-remove">
                <span class="uk-vertical-align">Dashboard</span>
            </div>
            <div class="uk-align-right uk-margin-remove">
                <span class="uk-vertical-align" id="logout">Logout your@email.com</span>
            </div>
        </div>
    </div>
    <div class="uk-width-1-1 uk-margin-large-top" role="project">
        <div class="uk-panel">
            <div class="uk-container uk-container-center no-result" id="no-result">
                <h1 class="uk-text-center uk-margin-remove">Welcome to CMS</h1>
                <h2 class="uk-text-center uk-margin-remove">You don't have any content types yet. You can start by clicking create</h2>
            </div>
            <div class="uk-container uk-container-center uk-width-1-1 " id="create">
                <button class="uk-align-center uk-width-1-1" id="create-button">&nbsp;Create</button>
            </div>
        </div>
        <div class="uk-width-1-1">
        </div>
    </div>
</div>